body,
html {
height: 100%;
margin: 0;
}

.header{
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    height: 30px;
}

.wrapper {
    display: flex;
    margin-left: 17%;
    margin-right: 17%;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
  }
.logo {
    font-size: 6vh;
    margin: .0em;
    margin-left: -22%;
    padding: .3em;
    flex: 1;
    font-family: 'Streamster';
    font-style: normal;
    font-weight: 600;
    align-items: left;
    text-align: left;
}
.filter{
    font-size: 2vh;
    margin: .3em;
    padding: .9em;
    flex: 1;
    text-align: center;
    background-color: #c4c4c4;
    border-radius: 20px;
}
.search{
    text-align: left;
    background-color: #c4c4c4;
    border-radius: 20px;
    flex: 1;
    font-size: 2vh;
    margin: .3em;
    padding: .8em;
}
@font-face {
    font-family: 'Streamster';
    src: url('./fonts/Streamster.otf') format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel.ttf') format('truetype');
}